.Infobtn {
  font-size: 14px;
  background-color: #00BFFF;
  color: #fff;
  border: 1px solid #00BFFF;
  border-radius: 8px;
}
.UrlButton {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: #00BFFF;
  color: #fff;
  border: 1px solid #00BFFF;
  border-radius: 10px;
  outline: none;
}
